In [12]:
import numpy as np
import pandas as pd

In [13]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df=pd.DataFrame(dict)

In [14]:
print(df)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [15]:
print(df.isnull())

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [18]:
print(df.fillna(0))

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [19]:
print(df.fillna('none'))

  First Score Second Score Third Score
0         100           30        none
1          90           45          40
2        none           56          80
3          95         none          98

In [20]:
print(df.interpolate(method='linear'),)

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2         92.5          56.0         80.0
3         95.0          56.0         98.0

In [36]:
print(df.iloc[1:3,1:3])

   Second Score  Third Score
1          45.0         40.0
2          56.0         80.0

In [38]:
print(df['First Score'])

0    100.0
1     90.0
2      NaN
3     95.0
Name: First Score, dtype: float64

In [41]:
#adding columns to data
df['Fourth Score']=[12.0,87.0 ,45.0,90.0]
print(df)

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0          NaN          12.0
1         90.0          45.0         40.0          87.0
2          NaN          56.0         80.0          45.0
3         95.0           NaN         98.0          90.0